<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StatsDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <StatsDisplay.Properties.Settings>
            <setting name="BattleTag" serializeAs="String">
                <value/>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShortStatsWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShortStatsWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FullStatsWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FullStatsWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecapStatsWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecapStatsWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MmrDisplayMode" serializeAs="String">
                <value>QuickMatch</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateRepository" serializeAs="String">
                <value>https://github.com/poma/HotsStats</value>
            </setting>
            <setting name="ShowRecap" serializeAs="String">
                <value>True</value>
            </setting>
        </StatsDisplay.Properties.Settings>
    </userSettings>
</configuration>
